body {
    font-family: "Montserrat", sans-serif, "Roboto", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-image: url("img/Moon.png"), radial-gradient(50.13% 135% at 68.54% 62.52%, #20303D 0%, #15212D 100%);/* Задал цвет фон всему боди, сначала картинкой, а потом градиентам*/
    background-repeat: no-repeat, no-repeat; /*Настраиваем параметры бекграунда отдельно для картинки и градиента*/
    background-position: top;
    background-size: contain;
    font-size: 18px;
    margin: 0;
}
p {
    margin: 0;
}
@media only screen and (width < 749px) {}
@media only screen and (749px <= width < 969px) {}
@media only screen and (969px <= width < 1200px) {}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:1625px;
    margin: 40px auto 0 auto;
}
.logo {
    background: url("img/logo.svg") no-repeat center;
    background-size:auto;
    width: 206px;
    height: 44px;
}
.navigationContainer {
    display: flex;
    align-items: center;
    gap: 60px;
}
.navigationContainer a:hover {
    color: #9733EE;
    text-decoration: underline;
}

@media only screen and ( width < 749px) {
    body {
        background-position: top;
        background-size: 210%;
    }
    header{
        margin-top: 10px;
        flex-direction: column;
        max-width: 749px;
        gap: 15px;
    }
    .logo {
        width: 137px;
        height: 29px;
        margin: 0 auto;
        background-size:contain;
    }
    .navigationContainer {
        font-size: 14px;
        gap: 27px;
        margin: 0 auto;
        max-width: 290px;
        height: 22px;
    }

}/*Шапка мобилка*/
@media only screen and (749px <= width < 969px) {
    body {
        background-size: 210%;
    }
    header {
        margin-top: 10px;
        flex-direction: column;
        max-width: 969px;
    }
    .logo {
        width: 172px;
        height: 35px;
        margin: 0 auto;
        background-size:contain;
    }
    .navigationContainer {
        font-size: 16px;
        gap: 43px;
        margin: 17px auto 0 auto;

    }


}/*Шапка планшет*/
@media only screen and (969px <= width < 1200px) {
    body {
        background-size: 210%;
    }
    header {
        max-width: 1200px;
        padding: 0 15px;
    }

}
@media only screen and (1200px <= width < 1500px) {
    body {
        background-size: 150%;
    }
    header {
        max-width: 1400px;
        padding: 0 15px;
    }
    main {
        padding: 0 15px;
    }
}
main {
    max-width: 1624px; /* Прибывляем по 140 с каждой стороны чтобы макс. размер блока мейн был равен  макс.размеру хедер*/
    margin: 0 auto;
}
.container { /* Для того чтобы был отступ по отношению к хедеру*/
    margin: 0 140px;
}
@media only screen and ( width < 749px) {
    main {
        margin: 0 15px;
    }
    .container {
        margin: 0;
    }
}
@media only screen and (749px <= width < 969px) {
    main {
        margin: 0 15px;
    }
    .container {
        margin: 0;
    }
}
@media only screen and (969px <= width < 1200px) {
    main {
        margin: 0 15px;
        padding: 0;
    }
    .container {
        margin: 0;
        padding: 0 15px;
    }

}
@media only screen and (1200px <= width < 1500px) {
    main {
        margin: 0 15px;
    }
    .container {
        margin: 0;
        padding: 0 15px;
    }

}

.Gagarin {
    display: flex;
    margin-top: 40px;
    gap: 95px;
}
.contactUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    gap: 40px;
    font-size: 24px;
}
.astronaut {
    background: url("img/Gagarin.png") no-repeat center;
    background-size: contain;
    width: 42%;
    height: 747px;
}
.uniwexSoft {
    background: url("img/UniwexSoft.svg") no-repeat;
    background-size: contain;
    width:353px;
    height:130px;
}
.button {
    width: 338px;
    height: 63px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #DA22FF 0%, #9733EE 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    font-weight: 400;
    transition: 0.5s;

}
.button span {
    font-size: 24px;
}
.button:hover {
    background: var(--clr);
    letter-spacing: 0.1em;
    box-shadow: 0 0 35px var(--clr);
}
@media only screen and ( width < 749px) {
    .Gagarin {
        display: block;
        margin-top: 30px;
    }
    .contactUs {
        gap: 15px;
        max-width: 100%;
        font-size: 16px;
    }
    .astronaut {
        display: none;
    }
    .uniwexSoft {
        width: 170px;
        height: 68px;
    }
    .button {
        width: 166px;
        height: 37px;
    }
    .button span {
        font-size: 13px;
    }

}
@media only screen and (749px <= width < 969px) {
    .Gagarin {
        gap: 66px;
    }
    .contactUs {
        text-align: start;
        font-size: 18px;
    }
    .uniwexSoft {
        width: 261px;
        height: 105px;
        background-size: contain;
    }
    .button {
        width: 251px;
        height: 63px;
    }
    .button span {
        font-size: 19px;
    }
    .astronaut {
        width: 412px;
        height: 523px;
        background-size: contain;
        background-position: left;
    }
}
@media only screen and (969px <= width < 1200px) {
    .contactUs p {
        font-size: 20px;
    }
    .button {
        width: 338px;
        height: 63px;
    }
    .button span {
        font-size: 20px;
        text-transform: none;
    }
    .astronaut {
        width: 500px;
        height: 635px;
        background-position: center;
        background-size: contain;
    }
}
@media only screen and (1200px <= width < 1500px) {
    .Gagarin {
        justify-content: space-around;
    }
    .astronaut {
        width: 42%;
    }
    .button span {
        font-size: 23px;
    }
}

.basicServices {
    display: flex;
    margin-top: 100px;
    gap: 95px;
}
.services {
    background: url("img/Services.svg") no-repeat center;
    background-size: contain;
    width:385px;
}
.development {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}
.num {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    color: #DA22FF;
    font-weight: bold;
}
.size--1 {
    display: flex;
    align-items: center;
    width: 37%;
    gap: 10px;

}
.size--2 {
    display: flex;
    align-items: center;
    width: 60%;
    gap: 10px;
}

@media only screen and ( width < 749px){
    .basicServices {
        flex-direction: column;
        gap:30px;
        margin-top: 50px;

    }
    .services {
        width:170px;
        height:60px;
        background-size: contain;

    }
    .development {
        flex-direction: column;
        flex-wrap: nowrap;
        width: auto;
        gap:15px;
    }
    .num {
        font-size: 36px;
    }
    .development p {
        font-size: 14px;
    }
    .size--1, .size--2  {
        width: auto;
    }

}
@media only screen and (749px <= width < 969px){
    .basicServices {
        flex-direction: column;
        margin: 0 auto;
        gap: 33px;
    }
    .services {
        width: 320px;
        height: 120px;
        background-size: contain;
    }
    .development {
        font-size: 17px;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }
    .size--1, .size--2 {
        width: 100%;
    }
    .num {
        font-size: 60px;
    }



}
@media only screen and (969px <= width < 1200px) {
    .basicServices {
        margin-top: 50px;
    }
    .services {
        width: 327px;
        height: 115px;
        background-size: contain;
        align-self: center;
    }
    .num {
        font-size: 61px;
    }
    .development {
        font-size: 16px;
        gap: 15px
    }
    .development p {
        font-size: 13px;
    }


}
@media only screen and (1200px <= width < 1500px){
    .basicServices {
        margin-top: 30px;
    }
    .development {
        gap: 3%;
    }
    .development p {
        width: 100%;
    }

}

.achievingGoals {
    display: none;
}
.aboutUs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}
.aboutUs p {
    font-size:16px;
    line-height: 20px;
    width: 78%;
}
.post-1 p {
    width: 75%;
}
.post-3 p {
    width: 76%;
}
.post-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 26%;
    gap: 30px;

}
.leftText{
    text-align: right;
}
.team-1 {
    display: flex;
    align-items: center;
    gap: 12px;
}
.sign-1 {
    display: flex;
    background: url("img/1.svg")no-repeat;
    background-size: contain;
    width: 74px;
    height: 85px;
}
.sign-2 {
    display: flex;
    background: url("img/2.svg")no-repeat;
    background-size: contain;
    width: 74px;
    height: 85px;
}
.sign-3 {
    display: flex;
    background: url("img/3.svg")no-repeat;
    background-size: contain;
    width: 74px;
    height: 85px;
}
.post-2 {
    display: flex;
    background: url("img/professional.svg")no-repeat center;
    background-size: contain;
    width:29%;
    height: 396px;
}
.post-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:29%;
    gap: 30px;
}
.team-3 {
    display: flex;
    align-items: center;
    gap: 12px;
}
.rightText {
    width: 28%;
    text-align: left;
}
.rightText p {
    width: 293px;
}
.sign-4 {
    display: flex;
    background: url("img/4.svg")no-repeat;
    background-size: contain;
    width: 74px;
    height: 85px;
}
.sign-5 {
    display: flex;
    background: url("img/5.svg")no-repeat;
    background-size: contain;
    width: 74px;
    height: 85px;
}
.sign-6 {
    display: flex;
    background: url("img/6.svg")no-repeat;
    background-size: contain;
    width: 74px;
    height: 85px;
}

@media only screen and ( width < 749px) {
    .post-2 {
        display: none;
    }
    .achievingGoals {
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        text-align: center;
        font-weight: 100;
        width: 100%;
        margin-bottom: 30px;
    }
    .aboutUs {
        flex-direction: column;
        gap: 15px;
        margin: 50px auto 0 auto;
        max-width: 500px;
    }
    .post-1, .post-3 {
        width: 100%;
        gap: 15px;
    }
    .aboutUs p {
        font-size: 14px;
    }
    .team-1, .team-3{
        width: 100%;

    }

}
@media only screen and (749px <= width < 969px){
    .aboutUs {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 708px;
        margin: 80px auto 0 auto;
    }
    .aboutUs p {
        font-size: 17px;
        line-height: 23px;
    }
    .post-1 {
        width: 100%;
        gap: 21px;
    }
    .achievingGoals {
        display: block;
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        text-align: center;
        font-weight: 100;
        width: 100%;
        margin-bottom:20px ;
    }
    .team-1 {
        place-content: flex-end;
    }
    .post-2 {
       display: none;
    }
    .post-3 {
        width: 100%;
        gap: 21px;
    }
    .leftText {
        font-size: 14px;
    }
}
@media only screen and (969px <= width < 1200px) {
    .aboutUs {
        gap:15px ;
    }
     .aboutUs p {
         font-size: 13px;
     }
    .post-1 {
        width: 33%;
        justify-content: space-between;
    }
    .post-2 {
        width: 314px;
        height: 311px;
        background-size: contain;
        box-sizing: border-box;
    }
    .post-3 {
        width: 33%;
        justify-content: space-between;
    }


}
@media only screen and (1200px <= width < 1500px) {
    .aboutUs {
        justify-content: center;
        gap: 60px;
    }
    .post-3 {
        width: 30%;
    }

}

.interaction {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 95px;
}
.interactionModel {
    display: flex;
    background: url("img/model.svg")no-repeat center;
    background-size: contain;
    width: 26%;
}
.list  {
    display: flex;
    /*align-items: center;*/
    flex-wrap: wrap;
    width: 65%;
    gap: 30px;
}
.list p {
    width: 99%;
    display: flex;
    align-items: center;
}
.columnText1{
    display: flex;
    flex-direction: row;
    width: 36%;
}
.columnText2 {
    width: 60%;
}
.circleText {
    display: flex;
    align-items: center;
}
.list .circleText::before {
    content: "";
    display: block;
    min-width: 8px;
    min-height: 8px;
    max-height: 8px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
}
@media only screen and ( width < 749px) {
    .interaction {
        margin-top: 50px;
        flex-direction: column;
        gap: 30px;
    }
    .interactionModel {
        width:170px;
        height:76px;
        background-size: contain;
        background-position: left;
    }
    .list {
        font-size: 14px;
        width: 100%;
        gap: 15px;
    }
   .columnText1, .columnText2 {
       width:90%;
   }
}
@media only screen and (749px <= width < 969px){
    .interaction {

        margin-top: 80px;
        flex-direction: column;
        gap: 30px;
    }
    .interactionModel {
        width:300px;
        height:165px;
        background-size: contain;
        margin-bottom: 20px;
    }
    .columnText1, .columnText2 {
        width:100%;
    }
    .list {
        width: 100%;
    }

}
@media only screen and (969px <= width < 1200px){
    .interaction {
        flex-direction: row;
        gap: 50px;
        align-items: center;
    }
    .interactionModel {
        width:240px;
        height:110px;
        background-size: contain;
    }
    .list {
        width: 68%;
        font-size: 14px;
        align-items: normal;
        gap: 20px;
        min-height: 90px;
    }

}
@media only screen and (1200px <= width < 1500px) {
    .interaction {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        gap: 95px;
    }
    .interactionModel {
        width: 374px;
        height: 165px;
        background-size: contain;
    }
    .list {
        width: 100%;
    }
}

.bigNum {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height:334px;
}
.bigNum--1{
    background: url("img/bignumbers1 .svg")no-repeat;
    background-size: contain;
    width:28%;

}
.bigNum--2{
   background: url("img/bignumbers2.svg")no-repeat;
    background-size: contain;
    width:28%;
}
.bigNum--3{
    background: url("img/bignumbers3.svg")no-repeat;
    background-size: contain;
    width:28%;
}
@media only screen and ( width < 749px) {
    .bigNum {
        display: none;
    }
}
@media only screen and (749px <= width < 969px) {
.bigNum {
    display: none;
}
}
@media only screen and (969px <= width < 1200px) {
    .bigNum {
       display: none;}
}
.rocketSnake {
    display: none;
}
.weUse {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.weUse p {
    text-align: center;
    margin-bottom: 20px;
}
.leftColumnRocket, .rightColumnRocket  {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 43%;
}
.leftColumnRocket {
    margin-bottom: 80px;
}
.leftColumnRocket > div, .rightColumnRocket > div{
    width: 100%;
}
.block-1, .block-2 {
    margin-bottom: 30px;
    border: 1px solid white;
    position: relative;
    background-color: #20303D;
    width: 100%;
    padding: 5%;
    gap: 20px;
    box-sizing: border-box;
}
.block-1::after, .block-2::after {
    content:"";
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    rotate: 135deg;
    background-color: #20303D;
    right: -12px;
    top: 45%;
}
.emblem-1, .emblem-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.emblem-1 > div, .emblem-2 > div, .emblem-3 > div, .emblem-4 > div, .emblem-5 > div {
    background-size: contain;
}
.symbol-1 {
    background: url("img/block1/1-1.png")no-repeat;
    width: 97px;
    height: 75px;
}
.symbol-2 {
    background: url("img/block1/1-2.png")no-repeat;
    width: 88px;
    height: 75px;
}
.symbol-3 {
    background: url("img/block1/1-3.png")no-repeat;
    width: 84px;
    height: 75px;
}
.symbol-4 {
    background: url("img/block1/1-4.png") no-repeat;
    width: 65px;
    height: 75px;
}
.symbol-5 {
    background: url("img/block1/2-1.png")no-repeat;
    width: 121px;
    height: 115px;
}
.symbol-6 {
    background: url("img/block1/2-2.png")no-repeat;
    width: 154px;
    height: 113px;
}
.symbol-7 {
    background: url("img/block1/2-3.png")no-repeat bottom;
    width: 145px;
    height: 116px;
}
.rocket {
    background: url("img/rocket.png")no-repeat center;
    background-size: contain;
    height: 1050px;
    width: 14%;

}
.block-3, .block-4, .block-5 {
    position: relative;
    background-color: #20303D;
    margin-bottom: 30px;
    width: 100%;
    padding: 5%;
    border: 1px solid white;
    box-sizing: border-box;
}
.block-3::before, .block-4::before, .block-5::before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    rotate: -45deg;
    background-color: #20303D;
    left: -12px;
    top: 45%;
}
.emblem-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.rightSymbol-1 {
    background: url("img/block1/3-1.png")no-repeat;
    width: 71px;
    height: 36px;
}
.rightSymbol-2 {
    background: url("img/block1/3-2.png")no-repeat;
    width: 193px;
    height: 40px;
}
.rightSymbol-3 {
    background: url("img/block1/3-3.png")no-repeat;
    width: 75px;
    height: 28px;
}
.rightSymbol-4 {
    background: url("img/block1/3-4.png")no-repeat;
    width: 42px;
    height: 36px;
}
.rightSymbol-5 {
    background: url("img/block1/3-5.png")no-repeat;
    width: 193px;
    height: 48px;
}
.rightSymbol-6 {
    background: url("img/block1/3-6.png")no-repeat;
    width: 143px;
    height: 44px;
}
.rightSymbol-7 {
    background: url("img/block1/3-7.png")no-repeat;
    width: 65px;
    height: 35px;
}
.emblem-4 {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.rightSymbol-8 {
    background: url("img/block1/4-1.png")no-repeat;
    width: 315px;
    height: 104px;
}
.rightSymbol-9 {
    background: url("img/block1/4-2.png")no-repeat;
    width: 104px;
    height: 104px;
}
.emblem-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.rightSymbol_10 {
    background: url("img/block1/5-1.png")no-repeat;
    width: 143px;
    height: 79px;
}
.rightSymbol_11 {
    background: url("img/block1/5-2.png")no-repeat;
    width: 265px;
    height: 79px;
}
@media only screen and ( width < 749px) {

    .weUse {
        display: none;
    }
    .rocketSnake {
        display: flex;
        flex-direction: column;
        width: 290px;
        margin: 50px auto 0 auto;
    }
    .horizonDashed{
        background: url("img/horizont.png") no-repeat;
        background-size: contain;
        width: 290px;
        height: 2px;
    }
    .miniRocket {
        background: url("img/miniRocket.svg") no-repeat left;
        background-size: contain;
        width: 100%;
        height: 173px;
    }
    .leftDashed {
        background: url("img/bottom.png") no-repeat;
        background-size: contain;
        width: 2px;
        height: 191px;
    }
    .backEnd {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 275px;
    }
    .backEnd, .leftDashed {
        width: 290px;
    }
    .backEnd > p {
        width: 290px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .block-3 {
        display: flex;
        flex-direction: column;
        padding: 4%;
        width: 275px;
        gap: 10px;
        margin-left: auto;
    }
    .block-3 p {
        font-size: 10px;
    }
    .block-3::before {
        content: "";
        display: block;
        position: absolute;
        width: 11px;
        height: 11px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        rotate: -45deg;
        background-color: #20303D;
        left: -7px;
        top: 45%;
    }
    .emblem-3 {
        width: 225px;
        gap: 7px;
        margin: 0 auto 8px auto;
    }
    .rightSymbol-1 {
        background-size: contain;
        width: 37px;
        height: 19px;
    }
    .rightSymbol-2 {
        background-size: contain;
        width: 101px;
        height: 21px;
    }
    .rightSymbol-3 {
        background-size: contain;
        width: 39px;
        height: 14px;
        align-self: center;
    }
    .rightSymbol-4 {
        background-size: contain;
        width: 22px;
        height: 19px;
    }
    .rightSymbol-5 {
        background-size: contain;
        width: 101px;
        height: 25px;
    }
    .rightSymbol-6 {
        background-size: contain;
        width: 75px;
        height: 23px;
    }
    .rightSymbol-7 {
        background-size: contain;
        width: 34px;
        height: 17px;
        align-self: center;
    }
    .rightDashed {
        background: url("img/bottom.png") no-repeat right;
        background-size: contain;
        width: 2px;
        height: 191px;
    }
    .frontEnd {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 275px;
    }
    .frontEnd, .rightDashed {
        width: 290px;
    }
    .frontEnd > p {
        width: 290px;
        margin-top: 15px;
        font-size: 12px;
    }
    .block-1, .block-2 {
        display: flex;
        flex-direction: column;
        width: 275px;
        margin-top:10px;
    }
    .block-1 {
        padding: 7%;
        gap: 14px;
    }
    .block-1 p {
        font-size: 10px;
        text-align: right;
    }
    .block-1::after {
        content: "";
        display: block;
        position: absolute;
        width: 11px;
        height: 11px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        rotate: 135deg;
        background-color: #20303D;
        right: -7px;
        top: 45%;
    }
    .emblem-1 {
        width: 226px;
        margin:14px auto 0 auto;
    }
    .symbol-1 {
        width: 52px;
        height: 40px;
        background-size: contain;
    }
    .symbol-2 {
        width: 47px;
        height: 40px;
        background-size: contain;
    }
    .symbol-3 {
        width: 44px;
        height: 40px;
        background-size: contain;
    }
    .symbol-4 {
        width: 35px;
        height: 40px;
        background-size: contain;
    }
    .smartContracts {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 275px;
    }
    .smartContracts, .leftDashed {
        width: 290px;
    }
    .smartContracts > p {
        width: 290px;
        margin-top: 15px;
        font-size: 12px;
    }
    .block-4 {
        display: flex;
        flex-direction: column;
        padding: 26px 0 26px 0;
        width: 275px;
        gap: 10px;
        margin-top: 10px;
        margin-left: auto;
    }
    .block-4 p {
        font-size: 10px;
    }
    .block-4::before {
        content: "";
        display: block;
        position: absolute;
        width: 11px;
        height: 11px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        rotate: -45deg;
        background-color: #20303D;
        left: -7px;
        top: 45%;
    }
    .emblem-4 {
        gap: 13px;
    }
    .rightSymbol-8 {
        width: 143px;
        height: 47px;
        background-size: contain;
    }
    .rightSymbol-9 {
        width: 47px;
        height: 47px;
        background-size: contain;
    }
    .dataStorage {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 275px;
    }
    .dataStorage, .rightDashed {
        width: 290px;
    }
    .dataStorage > p {
        width: 290px;
        margin-top: 15px;
        font-size: 12px;
    }
    .block-2 {
        gap: 10px;
        padding: 11%;
    }
    .block-2::after {
        content: "";
        display: block;
        position: absolute;
        width: 11px;
        height: 11px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        rotate: 135deg;
        background-color: #20303D;
        right: -7px;
        top: 45%;
    }

    .block-2 p {
        font-size: 10px;
        align-items: center;
    }
    .symbol-5 {
        width: 60px;
        height: 48px;
        background-size: contain;
    }
    .symbol-6 {
        width: 80px;
        height: 48px;
        background-size: contain;
    }
    .symbol-7 {
        width: 62px;
        height: 48px;
        background-size: contain;
        background-position: bottom;
    }
    .telegram {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 275px;
        margin-top: 0;
    }
    .telegram, .leftDashed {
        width: 290px;
    }
    .telegram > p {
        width: 290px;
        margin-top: 15px;

        font-size: 12px;

    }
    .block-5 {
        display: flex;
        flex-direction: column;
        width: 275px;
        gap: 10px;
        padding: 24px 0 24px 0;
        margin-top: 10px;
        margin-left: auto;
    }
    .block-5::before {
        content: "";
        display: block;
        position: absolute;
        width: 11px;
        height: 11px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        rotate: -45deg;
        background-color: #20303D;
        left: -7px;
        top: 45%;
    }
    .emblem-5 {
        width: 226px;
        margin: 0 auto;
        padding: 17px;
    }
    .rightSymbol_10 {
        width: 73px;
        height: 40px;
        background-size: contain;
    }
    .rightSymbol_11 {
        width: 136px;
        height: 40px;
        background-size: contain;
    }
    .end {
        background: url("img/end.png") no-repeat;
        width: 153px;
        height: 39px;
    }
}
@media only screen and (749px <= width < 969px){
    .weUse {
        margin-top: 80px;
        font-size: 13px;
    }
    .block-1, .block-2, .block-3, .block-4, .block-5 {
        box-sizing: border-box;
        width: 100%;
    }
    .leftColumnRocket {
        margin-bottom: 55px;
        width: 43%;

    }
    .block-1 {
        padding: 5% 10% 5% 10%;
        height: 140px;
    }
    .block-2 {
        padding: 5% 10% 5% 10%;
    }

    .block-1::after, .block-2::after {
        top:45%;
        width: 15px;
        height: 15px;
        right: -9px;
    }
    .block-3::before, .block-4::before, .block-5::before {
        width: 15px;
        height: 15px;
        left: -9px;
        top:45%

    }
    .emblem-1 div, .emblem-2 div {
        background-size: contain;
    }
    .symbol-5 {
        height: 49px;
    }
    .symbol-6 {
        width: 165px;
        height: 50px;
    }
    .symbol-7 {
        background-position: top;
        width: 180px;
        height: 57px;
    }
    .rocket {
        width: 14%;
        height: auto;
        background-position: top;

    }
    .rightColumnRocket {
        justify-content: center;
        width: 43%;
        margin-top: 110px;
    ;
    }
    .block-3 {
        margin:0;
        padding: 5%;
    }
    .emblem-3 {
        justify-content: center;
        gap:15px
    }
    .rightSymbol-1 {
        background-size: contain;
        width: 42px;
        height: 20px;
    }
    .rightSymbol-2 {
        background-size: contain;
        width: 114px;
        height: 23px;
    }
    .rightSymbol-3 {
        background-size: contain;
        width: 39px;
        height: 14px;
        align-self: center;
    }
    .rightSymbol-4 {
        background-size: contain;
        width: 25px;
        height: 20px;
    }
    .rightSymbol-5 {
        background-size: contain;
        width: 114px;
        height: 28px;
    }
    .rightSymbol-6 {
        background-size: contain;
        width: 84px;
        height: 25px;
    }
    .rightSymbol-7 {
        background-size: contain;
        width: 38px;
        height: 20px;
        align-self: center;
    }
    .smartContracts {
        margin-top: 20px;
    }
    .block-4 {
        padding: 5%;
        margin: 0;
    }
    .rightSymbol-8 {
        width: 180px;
        height: 60px;
        background-size: contain;
    }
    .rightSymbol-9 {
        width: 60px;
        height: 60px;
        background-size: contain;
    }
    .telegram {
        margin: 20px 0 10px 0;
    }
    .block-5 {
        padding: 5%;

    }
    .rightSymbol_10 {
        width: 80px;
        height: 50px;
        background-size: contain;
    }
    .rightSymbol_11 {
        width: 155px;
        height: 50px;
        background-size: contain;
    }
}
@media only screen and (969px <= width < 1200px) {
    .weUse {
        display: flex;
        justify-content: space-between;

        padding: 0;
    }
    .leftColumnRocket, .rightColumnRocket  {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 43%;
    }
    .leftColumnRocket > div, .rightColumnRocket > div{
        width: 100%;
    }
    .leftColumnRocket p, .rightColumnRocket p {
        font-size: 16px;
    }
    .rightColumnRocket {
        margin-top: 150px;
    }
    .emblem-1 div, .emblem-2 div, .emblem-3 div, .emblem-4 div, .emblem-5 div {
        background-size: contain;
    }
.symbol-1{
    width:80px;
    height:57px;
}
.symbol-2 {
    width: 73px;
    height: 58px;
}
.symbol-3 {
    width: 70px;
    height:62px;
}
.symbol-4 {
    width: 59px;
    height: 62px;
}
.symbol-5 {
    height: 74px;
}
    .symbol-6 {
        height: 72px;


}
    .symbol-7 {
        background-position: top;
        width: 170px;
        height: 80px;
    }
    .rocket {
        width: 14%;
        height: auto;
    }

    .block-1, .block-2, .block-3, .block-4, .block-5 {
        position: relative;
        background-color: #20303D;
        margin-bottom: 30px;
        width: 100%;
        padding: 5%;
        border: 1px solid white;
        box-sizing: border-box;
    }
    .emblem-3 {
        justify-content: center;
        gap: 5%;

    }

    .rightSymbol-1 {
        background-size: contain;
        width: 50px;
        height: 35px;
    }
    .rightSymbol-2 {
        background-size: contain;
        width: 155px;
        height: 39px;
    }
    .rightSymbol-3 {
        background-size: contain;
        width: 50px;
        height: 27px;
        align-self: center;
    }
    .rightSymbol-4 {
        background-size: contain;
        width: 31px;
        height: 35px;
    }
    .rightSymbol-5 {
        background-size: contain;
        width: 155px;
        height: 47px;
    }
    .rightSymbol-6 {
        background-size: contain;
        width: 113px;
        height: 43px;
    }
    .rightSymbol-7 {
        background-size: contain;
        width: 44px;
        height: 33px;
        align-self: center;
    }
    .block-4 {
        padding: 5%;
    }
    .rightSymbol-8 {
        width: 215px;
        height: 71px;
    }
    .rightSymbol-9 {
        width: 70px;
        height: 70px;
    }



}
/******************************************************/
footer{
   margin-top: 100px;
}
.info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 476px;
}
@media only screen and ( width < 749px) {
    footer {
        margin: 50px auto 0 auto;
        width: 290px;
    }
    footer p {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .info {
        display: block;
        width:157px;
        text-align: center;
    }
    @media only screen and (749px <= width < 969px){
        footer {
            display: block;
            margin-top: 30px;

        }
    }
}

